<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar :: content"></div>
<div class="container mt-5">
    <div class="form-row">
        <div class="form-group col-md-6">
            <form th:action="@{/main}" method="get" class="form-inline">
                <input type="text" name="filter" id="filter" th:value="*{filter}"
                       placeholder="Filter of Messages by tag" class="form-control col-sm-10   ">
                <button type="submit" class="btn btn-primary ml-2">Find</button>
            </form>
        </div>
    </div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Add new message
    </a>
    <div class="collapse" id="collapseExample">
        <div class="form-group mt-3">
            <form th:action="@{/main}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" name="tag" placeholder="tag" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="text" placeholder="please add message" class="form-control">
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" id="customFile">
                        <label class="custom-file-label" for="customFile">choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add Message</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-columns">
        <div th:each="message:${messages}" class="card my-3">
            <img th:src="@{'/img/'+${message.filename}}" class="card-img-top">
            <!-- <span hidden th:text="${message.id}"></span>-->
            <div class="m-2">
                <span th:text="${message.text}"></span>
                <i th:text="${message.tag}"></i>
            </div>
            <div class="card-footer text-muted">
                <span th:text="${message.authorName}"></span>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>